
{% block stylesheets %}
    		<link type="text/css" rel="stylesheet" href="{{ asset('cards/loginForm.css') }}"/>
{% endblock %}


{% block body %}
    <script src="https://use.typekit.net/rjb4unc.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<div class="container">
    <div class="logo">ElectroShop</div>
    <div class="login-item">
      <form action="{{ path('admin_account_login') }}" method="post" class="form form-login">
          {% if error %}
              {# <div class="alert alert-danger">{{ error }}</div> #}
              <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
        <div class="form-field">
          <label class="user" for="login-username"><span class="hidden">Email</span></label>
          <input id="login-username" type="text" value="{{ last_username }}" name="_username" class="form-input" placeholder="Enter your email" required>
        </div>

        <div class="form-field">
          <label class="lock" for="login-password"><span class="hidden">Password</span></label>
          <input id="login-password" type="password" name="_password" class="form-input" placeholder="Password" required>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> <br><br>
        

        <div class="form-field">
          <input type="submit" value="Log in">
        </div>
        {# {{ dump(_password)}} #}
      </form>
    </div>
</div>
{% endblock %} 
