
{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="contact">
    <div class="container">
        <div class="row">
            <div class="contact_form_container">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 contact_col">
                    <h4 class="section_title">Se connecter</h4>
                    <div class="contact_form_container">
							<form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}
                                <div class="form-group">
										<!-- Name -->
										<label for="contact_name">Email</label>
										<input type="email" value="{{ last_username }}" name="email" id="contact_name" class="contact_input" required="required" autofocus>
								</div>
                                <div class="form-group">
										<!-- Name -->
										<label for="contact_name">Password</label>
										<input type="password" name="password" id="contact_name" class="contact_input" required="required">
								</div>
                            
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> <br><br>

                                {#
                                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                    See https://symfony.com/doc/current/security/remember_me.html

                                    <div class="checkbox mb-3">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember me
                                        </label>
                                    </div>
                                #}

                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                                {# <button class="btn btn-lg btn-primary" type="submit">
                                    Se connecter via google
                                </button> #}
                            </form>
						</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <div class="contact_info">
						<div class="contact_info_section">
							<div class="contact_info_title">Marketing</div>
							<ul>
								<li>Phone: <span>+53 345 7953 3245</span></li>
								<li>Email: <span>yourmail@gmail.com</span></li>
							</ul>
						</div>
						<div class="contact_info_section">
							<div class="contact_info_title">Shippiing & Returns</div>
							<ul>
								<li>Phone: <span>+53 345 7953 3245</span></li>
								<li>Email: <span>yourmail@gmail.com</span></li>
							</ul>
						</div>
						<div class="contact_info_section">
							<div class="contact_info_title">Information</div>
							<ul>
								<li>Phone: <span>+53 345 7953 3245</span></li>
								<li>Email: <span>yourmail@gmail.com</span></li>
							</ul>
						</div>
					</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

